body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(45deg,rgb(182, 245, 168),rgb(247, 202, 247));
}
div{
    background-color: rgb(193, 241, 250);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 80px;
    border-radius: 15px;
    color: white;
}
